<div class="login-page">
<mat-card>
  <mat-card-title class="card-title">Multi Agent Banking App</mat-card-title>
  <mat-card-content>
    <div class="logo-container">
      <img   src="../assets/logo.svg" class="logo" />
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="input-group">
     
          <mat-form-field appearance="fill">
            <mat-label>Select a user</mat-label>
            <mat-select [(value)]="selectedUser" (selectionChange)="onSelectionChangeUser($event)">
              <mat-option value="Mark">Mark</mat-option>
              <mat-option value="Theo">Theo</mat-option>
              <mat-option value="Sajee">Sajee</mat-option>
              <mat-option value="Sandeep">Sandeep</mat-option>
            </mat-select>
          </mat-form-field>
       
      </div>

      <div class="input-group">
        <mat-form-field appearance="fill">
          <mat-label>Select a company</mat-label>
          <mat-select [(value)]="selectedCompany" (selectionChange)="onSelectionChangeCompany($event)">
            <mat-option value="Contoso">Contoso</mat-option>
            <mat-option value="Fabrikan">Fabrikan</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-button>  Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
</div>