
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
#appsettings.json
local.settings.json

node_modules
dist

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
#[Ll]og/
#[Ll]ogs/
csx
.vs
edge
Publish


# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets


# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# VS Code files for those working on multiple tools
.vscode/*
.idea
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json
/csharp/src/ChatAPI/appsettings.development.json
/csharp/test.ps1
/frontend/src/environments/environment.prod.ts
