/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html,
body {
  height: 100vh;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  font-family: "Open Sans", sans-serif !important;

}
 
.header {
  display: flex;
  align-items: center; /* Aligns items vertically */
  gap: 10px; /* Adds spacing between elements */
}

.logo {
  height: 50px; /* Adjust size as needed */
}