.menu-icon {
  padding: 16px;
  padding-top: 24px;
}

.settings-container,
.conversation {
  display: flex;
}

.settings-item {
  margin-top: 1.6rem;
}

.recent-conversations {
  padding: 1.2rem;
}

.conversation-icon {
  margin-right: 1rem;
}

.recent-conversations-title {
  font-size: 1.1rem;
  padding: 0;
}

.fixed-toolbar {
  width: 100%;
  height: 64px; /* Ensure enough height for the toolbar */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background: #1976d2; /* Ensure it's visible */
  z-index: 1000; /* Bring it to the front */
}

.conversations-title {
  margin-bottom: 1.2rem;

}

.conversation:not(:first-child) {
  margin-top: 1.5rem;
}

.conversation-btn {
  cursor: pointer;
  padding: 0.5rem;
}

.conversation-btn:hover {
  background-color: #f0f9ff;
  border-radius: 20px;
}

.close-icon {
  margin-left: 100px; /* Adjust the value as needed */
}

.conversation-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff; /* White background */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.conversation-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.conversation-icon {
  color: #0066cc; /* Blue icon color */
  font-size: 24px;
}

.session-name {
  flex-grow: 1;
  text-decoration: solid;
  text-decoration: none;
  color: #0066cc; /* Blue link color */
  transition: color 0.3s ease;
}

.session-name:hover {
  color: #005bb5; /* Darker blue on hover */
}

hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #bbb;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button {
  font-size: 0.875rem;

}

.edit-btn {
  background-color: #42a5f5;
  color: white;
  border: 1px solid #42a5f5;
  transition: background-color 0.3s ease;
}

.edit-btn:hover {
  background-color: #e3f9ff;
}

.delete-btn {
  background-color: #ef5350;
  color: white;
  border: 1px solid #ef5350;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #ffe6e6;
}

.mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border-color: #0066cc; /* Blue border for input fields */
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  border-width: 2px;
}

input.mat-input-element {
  color: #333;
}
