<mat-toolbar color="primary" class="fixed-toolbar">
  <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu icon"  ></mat-icon>
  <span class="title">Recent Conversations</span>
</mat-toolbar>

<ng-container>
  <mat-nav-list>
    <div class="recent-conversations">
      <div class="conversation-card" *ngFor="let session of (dataService.sessionData$ | async)">
        <div class="card-header">
          <mat-icon class="conversation-icon" aria-hidden="false" aria-label="chat icon" fontIcon="chat"></mat-icon>
          
          <!-- Display mode: show session name as a link -->
          <ng-container *ngIf="!isSessionEditing(session); else editMode">
            <a [routerLink]="['/chat', session.sessionId]" class="session-name">{{ session.name }}</a>
          </ng-container>
          
          <!-- Edit mode: show input field -->
          <ng-template #editMode>
            <mat-form-field appearance="outline">
              <input matInput [(ngModel)]="session.name" (keydown.enter)="stopEditing(session)" (blur)="stopEditing(session)" autofocus>
            </mat-form-field>
          </ng-template>
        </div>

        <!-- Separator line -->
        <hr>

        <div class="card-footer">
          <button mat-icon-button class="edit-btn" (click)="startEditing(session)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="delete-btn" (click)="removeSession(session)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-nav-list>
</ng-container>