<div  class="user-greating">
  <p class="greeting-name"> Hi, {{ loggedInUser }}!</p>
  <p>How can I help you with your banking needs today?</p>
</div>
<div (click)="createNewSession()" class="subject-container">
  <div
    class="subject-item"
    [ngClass]="{ 'selected-subject': isSelected(Subject.SERVICEREQUESTS) }"
    role="button"
    (click)="setSubjectSelected(Subject.SERVICEREQUESTS)"
  >
    <p>New Conversation</p>
    <div class="icon-circle">
      <mat-icon class="bottom-right-icon">chat</mat-icon>
    </div>
  </div>